<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wumpus Labyrinth</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/vendor/css/style.css"/>
  </head>
  <body id="wumpusIndex">
    <h1 id="wumpusTitle">Wumpus Labyrinth</h1>
    <img id="wumpusImg" src="/vendor/fonts/img1.png"/>
    <form action="/game" method="get">
      <center><button type="submit" class="jugar jugar1">Jugar</button></center>
    </form>
  </body>
</html>